<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1078128805007-tmn6v7e6hfacaqs8l9h6l8m3ebk1e5ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078128805007-tmn6v7e6hfacaqs8l9h6l8m3ebk1e5ph</string>
	<key>API_KEY</key>
	<string>AIzaSyAUmizIUW980wrGKXyqgV2Af7zTSjqaw9o</string>
	<key>GCM_SENDER_ID</key>
	<string>1078128805007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jensvansteen.devine.MakerMate</string>
	<key>PROJECT_ID</key>
	<string>makermate-a22cc</string>
	<key>STORAGE_BUCKET</key>
	<string>makermate-a22cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078128805007:ios:d4059c90d121042b</string>
	<key>DATABASE_URL</key>
	<string>https://makermate-a22cc.firebaseio.com</string>
</dict>
</plist>